:root {
  --back-color: #f4f1de;
  --bold-color: #3d405b;

  --link-color-1: #e07a5f;
  --link-color-2: #F5D5CC;

  --mark-color-1: #f2cc8f;
  --mark-color-2: #F9E5C8;

  --code-color-1: #81b29a;
  --code-color-2: #f4f1de;
}
