:root {
  --back-color: #fff;
  
  --link-color-1: #e63946;
  --link-color-2: #f7bbc0;
  
  --mark-color-1: #f4f452;
  --mark-color-2: #f9f99f;
  
  --code-color-1: #e6e6e6;
  --code-color-2: #1d3557;
}
