:root {
  --back-color: #fef9ef;
  --bold-color: #227c9d;

  --link-color-1: #fe6d73;
  --link-color-2: #FED6D0;

  --mark-color-1: #FFCB77;
  --mark-color-2: #FFE2B3;
  
  --code-color-1: #fef9ef;
}
